* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #ffffff;
    color:#565252;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

header {
    background-image: url(../images/header-background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header_text {
    padding-top: 150px;
}

#header_title {
    margin-left: 8.33%;
    background: #ffffff;
    max-width: 42%;
    padding: 15px;
    text-transform: uppercase;
    color: #171717;
    letter-spacing: 0.179487em;
    font-size: 2.0em;
    line-height: 1em;
    font-weight: 400;
    font-style: normal;
}
#header_buttons {
    margin-top: 20px;
    margin-left: 8.33%;
    
    padding: 15px;
}

#logo_text {
    float: left;
}
#logo_image {
    height: 90px;
    width: auto;
    float: left;
    margin-left: 45px;
}
#main_nav {
    float: right;
    list-style: none;
}
#main_nav li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    font-size: .9em;
}
#main_nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #4d4d4d;
    padding: 10px;
}

#main_nav li a:link,
#main_nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #4d4d4d;
    transition: color 1s, background-color 1s;
    border-radius: 10px;
}

#main_nav li a:hover,
#main_nav li a:active {
    color: #050404;
    background-color: #cccccc;
    padding: 10px;
    border-radius: 10px;
}

nav {
    background: #ffffff;
    height: 60px;
    padding-top: 35px;
}
.button:link,
.button:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: #1a1a1a;
    border-radius: 125px;
    font-weight: 500;
    transition: background-color 0.5s, border 0.5s;
}

.button-order:link,
.button-order:visited
{
    border: 2px solid #666666;
    background-color: #ffffff;
}

.button-more:link,
.button-more:visited{
    border: 2px solid #666666;
    background-color: #cccccc;
}

.button:hover,
.button:active,
input[type=submit]:hover,
input[type=submit]:active
{
    background: #919191; 
}
.button-order:hover,
.button-order:active {
    border: 2px solid #ffffff;
}
.button-more:hover,
.button-more:active {
    border: 2px solid #222;
}

section {
    padding: 100px 0;
    clear: both;
}
h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #919191;
    content: " ";
    width: 250px;
    margin: 0 auto;
    margin-top: 30px;

}
.section_p {
    width: 25%;
    float: left;
    padding-top: 15px;
    letter-spacing: 1px;
    
}
#headline_text {
    text-align: center;
    margin-bottom: 20px;
}

.features_icon {
    font-size: 300%;
    color: #1a1a1a;
    margin-bottom: 50px;
    margin-left: 150px;
}

.images_conteiner {
    margin-top: 75px;
    list-style: none;
    width: 100%;
}
.images_conteiner li {
    display: block;
    float: left;
    width: 25%;
}

.food_image {
    width: 100%;
    overflow: hidden;
    background: #000000;;
}

.food_image img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    transition: 0.5s, opacity 0.5s;
}

.food_image img:hover {
    transform: scale(1.05);
    opacity: 1;
    
}

.col-4 {
    width: 33.3%;
    float: left;
    padding: 3%;
}

#phone_image {
    width: 80%;

}
#phone_image_container {
    margin-left: 10%;
    margin-right: 6.6%;
    
}

.order_step {
    margin-top: 50px;
}

.order_step div {
    color: #222222;
    border: 2px solid #222 ;
    border-radius: 250px;
    width: 5%;
    height: 5%;    
    text-align: center;
    padding: 5px;
    font-size: 150%;
    display: inline-block;
    margin-right: 15px;
}

.order_step p {
    padding-top: 5px;
    font-size: 125%;
}

.app_button img {
    height: 50px;
    margin-left: 25px;
    margin-top: 25px;
}

.order_step {
    margin-bottom: 100px;
}

.centered_horizontaly {
    width: 100%;
    display: flex;
}
.column_width_cities img {
    width: 100%;
    margin: 20px;
}

.column_width_cities {
    margin: 50px;
    
}

h3 {
    font-weight: 300;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}
#city_info {
    margin-top: 15px;
    font-weight: 300;
    font-size: 80%;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.info_icon {
    display: inline-block;
    text-align: center;
    width: 30px;
    color: #1a1a1a;
}

.div_feedback {
    
    width: 100%;
    padding: 3%;
}
.style_feedback {
    display: flex;
}
#feedback_section {
    background-image: linear-gradient(rgba(0, 0, 0,0.5),rgba(0, 0, 0,0.5)),url(../images/feedback.jpg);
    background-size:cover;
    color: #ffffff;
    background-attachment: fixed;
}
blockquote {
    font-style: italic;
    font-weight: 300;
}

cite {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
cite img {
    display: inline-block;
    width: 150px;
    border: solid 2px #ffffff;
    border-radius: 50%;
    
}
#contact_form {
    display: block;
    margin: 0 auto;
    width: 50%;
    
}
.col-2 {
    float: left;
    padding: 1.5%;
    width: 45%;
}

.float-clearing {
    zoom: 1;
}

.float-clearing:after {
    zoom: 1;
    content: " ";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.col_submit {
    float: left;
    padding: 1.5%;
    width: 45%;
    margin-left: 48%;
    
}

input [type=text],
input [type=email],
select,
textarea {
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #212121;
}

#contact_form {
    font-size: 85%;
}


footer {
    text-align: center;
    padding: 50px 0;
    margin-bottom: 20px;
    text-decoration: none;
}
#footer_social_links {
    list-style: none;
    margin-left: 30px;
    text-decoration: none;
}
#footer_social_links li {
    display: inline-block;
    
    font-size: .9em;
    margin: 30px;
    text-decoration: none;
    
}
#footer_nav {
    margin: 50px;
}
#footer_nav li {
    text-decoration: none;
    display: inline;
    margin: 25px;
    
}

#footer_nav li :link,
#footer_nav li :visited {
    text-decoration: none;
    border-radius: 25px;
    color: black;
    
}

#footer_nav li :hover,
#footer_nav li :active {
    border: 1px solid #212121;
    border-radius: 25px;
    padding: 2%;
    transition: 0.5s;
    background-color: #b3b3b3;
}

#footer_social_links {
    margin: 50px;
    font-size: 200%;
}

#footer_social_links :hover,
#footer_social_links :active {
    font-size: 250%;
    transition: 1s;
}